@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*.bd-placeholder-img {*/
/*    font-size: 1.125rem;*/
/*    text-anchor: middle;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    user-select: none;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .bd-placeholder-img-lg {*/
/*        font-size: 3.5rem;*/
/*    }*/
/*}*/

.ascii {
    color: #FEE500;
}

img {
    image-rendering: -webkit-optimize-contrast;
    -webkit-shape-image-threshold: initial;
}

.main-banner {
    background: #052935;
}

.wrap-banner {
    max-width: 550px;
}

.main-banner img {
    image-rendering: crisp-edges;
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
}

.greet > img {
    width: 40%;
    padding: 100px 0;
}

h2 {
    color: #333333;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300 !important;
    background: #333333 !important;
}

.logo {
    width: 50%;
}

main {
    max-width: 720px !important;
    background: white;
}

.blockTitle {
    font-size: 1.4rem;
    font-weight: bolder;
    border-bottom: solid 1px;
}

/* photo */
#ourGallery .col {
    margin: 0;
    padding: 1px;
}

/* title box */
.line-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-box > .line {
    width: calc((100% - 50px) / 2);
}

.line-box > .line > .wrap {
    padding: 0 10% 0 10%
}

.line-box hr {
    border-top: 2px dimgrey;
    width: 100%;
    margin: 0;
    padding: 0
}

.line-box img {
    width: 50px;
    background: cadetblue;
}


.title-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0 30px 0;
}

.title-box > .title-wrap {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 40px;
    color: #4C6777;
    margin: 10px;
}

/* invitation */
.invitationText {
    padding: 50px 0;
}

.hostName {
    padding: 50px 0;
    letter-spacing: 5px;
    font-size: 19px;
    line-height: 40px;
    color: #333333;
}

.hostName img {
    width: 50%;
}

.hostName .text-box {
    min-width: 151px;
}

/* small text */
.small-title > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-bottom: 1px solid #CCCCCC;
    padding: 0 0 5px 40px;
}

.small-title .img-wrap {
    width: 25px;
}

.small-title img {
    width: 100%;
}

.small-title {
    padding: 40px 0;
}

.small-title .text-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 15px;
    font-size: 25px;
    color: #4C6777;
}

/* map title */
.map-title {
    padding-bottom: 30px;
}

.map-title > .main {
    font-size: 25px;
    color: #4C6777;
    font-weight: 400;
}

.map-title > .sub {
    font-size: 20px;
    color: #4C6777;
}

.map-link {
    left: -5px;
    top: -62px;
    display: block;
    text-align: center;
    margin-right: 0px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    background: #FFF;
    border: 3px solid #cc0000;
    position: relative;
}

.map-link a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

/* contact */
.contact {
    padding: 0 50px;
    margin-bottom: 40px;
}

.contact .title {
    font-size: 20px;
    font-weight: 400;
    color: #4C6777;
    margin-bottom: 15px;
}

.contact .sub {
    font-size: 18px;
    font-weight: 200;
    color: #4C6777;
}

.contact .image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background: #4C6777;
    margin: 5px;
}

.contact img {
    width: 100%;
    padding: 8px;
}

/* account */
.account {
    font-size: 18px;
    font-weight: 300;
    color: #4C6777;
    padding: 0 10px;
}

/* footer */
.footer {
    margin: 100px 0;
}

.footer .run {
    margin: 100px 0;
    width: 80%;
}

#dateSize {
    font-size: 60px;
    font-family: 'Secular One', sans-serif;
    color: #4C6777;
}

.contentColor {
    color: #4C6777;
}

.accountHolder {
    font-weight: 400;
    font-size: 18px;
}

.accountNum {
    font-size: 16px;
}

.account .info-block {
    margin: 5px;
}

.account .image-wrap {
    width: 60px
}

.account img {
    width: 100%
}

.box {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><linearGradient id='gradient'><stop offset='10%' stop-color='%23F00'/><stop offset='90%' stop-color='%23fcc'/> </linearGradient><rect fill='url(%23gradient)' x='0' y='0' width='100%' height='100%'/></svg>");
}
