@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

h2 {
    color: #333333;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200 !important;
}

.logo {
    width: 50%;
}

.container {
    max-width: 720px;
}

#hostName {
    font-size: larger;
    color: goldenrod;
    font-weight: lighter;
}
